<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'about.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>About Us</title>
</head>
<body>
    <div class="container1">
        <h3 class='about'>About Us</h3>
        <p class='about'>
            STUDENT UNION adalah sebuah platform bagi <br>
            para masyarakat khususnya mahasiswa untuk membuat <br>
            event-event dan menampilkan berita-berita terbaru <br>
            terkait event tersebut. <br>
        </p>
    </div>
    <div class = "container2">
        <h3 class='contact'>Contact Us</h3>
        <p class='contact' style='left:25%;'>Email</p>
        <p class='contact' style='left:50%'>Alamat</p>
        <p class='contact' style='left:75%'>Telepon</p>

        <p class='contact2' style='left:25%;'>
        cs@namawebsite.ac.id</p>
        <p class='contact2' style='left:50%; top:70%;'>
        Fasilkom UI Gedung B Lantai 6<br>
        Kampus UI Depok, Pondok Cina, Beji <br>
        Kota Depok, Jawa Barat <br>
        16424 <br>
        </p>
        <p class='contact2' style='left:75%'>
        +62822-2222-2222</p>
    </div>
    <div class='container3'>
        <h3 class='team'>Our Team</h3>

        <p class='team' style='left:26%;'>Rizkhi Pramudya H</p>
        <p class='team' style='left:42%'>Jeffrey</p>
        <p class='team' style='left:58%'>M Afiful Amin</p>
        <p class='team' style='left:74%'>Khalis Murfid</p>

        <p class='team2' style='left:26%'>1706039660</p>
        <p class='team2' style='left:42%'>1706039843</p>
        <p class='team2' style='left:58%'>1706039963</p>
        <p class='team2' style='left:74%'>1706040164</p>

        <img src="{% static '1.png' %}" alt="dp" class='team' style='left:26%; height: 8rem; width: 8rem'>
        <img src="{% static '2.png' %}" alt="dp" class='team' style='left:42%; height: 8rem; width: 8rem'>
        <img src="{% static '3.png' %}" alt="dp" class='team' style='left:58%; height: 8rem; width: 8rem'>
        <img src="{% static '4.png' %}" alt="dp" class='team' style='left:74%; height: 8rem; width: 8rem'>
    </div>
</body>
{% endblock %}
</html>