{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block css %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
    <link rel="stylesheet" href="{% static 'events.css' %}">
{% endblock %}
{% block content %}
    <div class="row particular">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h1 class="judul">
                {{ events.judul_events }}</h1><br><br>
            <center><img class="pic" src="{{ events.image }}"></center><br><br>
            <h4>{{ events.desc_events }}</h4><br>
            <br>
            <center>
                <h3>Detail</h3>
            </center>
            <h4>Date :
                <br>{{ events.date_events }}</h4>
            <br><br>
            <center>
                <h3>Venue</h3>
            </center>
            <h4>{{ events.venue_events }}</h4>
            <br>
            <br>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h1 >Other Events</h1>
            <br>
            <br>
            {% for events in list_events %}
                <a href="/events/{{events.id}}">
                    <img src="{{events.image}}" height="200" width="300"/>
                </a>
                <br>
                <br><br>

            {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <a href="../register_events/id/{{events.id}}">
            <button class="btn btn-success">Daftar Event</button>
        </a>
    </div>
</div>
<br>
{% endblock %}

{% block footer %}
<div class="navbar navbar-light bg-info" style="margin-top:200px;">
    <div class="navbar-brand">
        Student Union 2017-2018</p>
</div>
<ul class="navbar-nav mt-2 mt-lg-0">
    <li class="nav-item">
        STUDENT Union
    </li>
</ul>
</div>
{% endblock %}
