html {
    background: url("#fffff") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card{
    border: none !important;
}
.particular{
    padding-top: 40px;
}
.judul{
    color: #BC003E;
     font-family: Montserrat, sans-serif !important;
}

img.pic{
    width: 768px;
    height: auto;
}

@media (max-width: 576px) {
    img.pic{
        width: 350px !important;
        height: auto;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 992px) {

}

@media (max-width: 1200px) {

}
