.joinUs1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;

  color: #FFFFFF;
}

.joinUs2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1%;
  font-size: 4vw;
  text-align: center;

  color: #FFFFFF;
}

.joinUs3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  font-size: 1.2vw;
  text-align: center;

  color:  #FFFFFF;
}

.phone1{
  width: 20vw;
  height: 23vw;

  mix-blend-mode: darken;
}

.phone2{
  width: 20vw;
  height: 23vw;

  mix-blend-mode: darken;
  transform: rotate(-180deg);
}

.btn {
  width: 12vw;
  height: 3vw;

  background: #BC003E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  font-family: Heebo;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 2vw;
  text-align: center;

  color: #FFFFFF;
}

.events {
  text-align: center;
  font-family: Roboto;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  font-size: 2.7vw;

  color: #BC003E;
}

.column {
  width: 25%;
  text-align: center;
}

.UI1 {
  width: 25.5vw;
}

.card-title {
	font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 40px;

  color: #BC003E;
}
