{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="1032559267381-2ev5c5gdek18o9pojsgc7hbfc1iu31ta.apps.googleusercontent.com">
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        {% block javascript %}{% endblock %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" >
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        {% block link %}{% endblock %}
        <title>
            {% block title %}Template{% endblock %}
        </title>
    </head>
    {% include 'navbar.html' %}
    <body >
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
</html>
