{% load staticfiles %}

<nav style="background-color: #41B3A3;">
  <div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-1"><img src="{% static 'SU.jpg'%}" align ="right" style="width: 3vw;"></div>
    <div class="col-sm-3" > <p style="color:white; text-align:left;">STUDENT UNION</p></div>
	<div class="col-sm-1"></div>
    <div class="col-sm-4"><p style="color:white;">© copyright STUDENT UNION</p></div>
  </div>
</nav>
