{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #41B3A3;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"> <img src="{% static 'SU.jpg'%}" width="35" height="35" class="d-inline-block align-top" alt=""> STUDENT UNION</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/news">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      {% if not user.is_authenticated%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'social:begin' 'google-oauth2' %}"> <img src="https://diylogodesigns.com/wp-content/uploads/2016/04/google-logo-icon-PNG-Transparent-Background-768x768.png" style="height: 2 rem; width: 2rem"> Login with Google</a>
      </li>
      {% endif %}
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}" style="text-align:right">Log out</a>
      </li>
    </ul>
      <p style="text-align: right; font-size: 14px">Hello, {{ user.username }}</p>
    {% endif %}
  </div>
</nav>
