{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<img src="http://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif" style="width:50%; margin-left: 25%">
<br>
<br>
<button type="button" class="btn btn-primary btn-lg" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'" style=" margin-left: 40%">Log in to Google</button>
<br>
<h1 style="color:white;"> hahahah </h1>
{% endblock %}